doctype html
html
    head
        title= title

        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .navbar.navbar-default.navbar-fixed-top
            .container

                .navbar-header
                    a.navbar-brand(href='/') Главная
                button.navbar-toggle( type='button', data-toggle='collapse', data-target='#navbar-main')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                #navbar-main.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li(class="dropdown" id="menu1")
                            a(class="dropdown-toggle" data-toggle="dropdown" href="#menu1")  Справочники
                                b(class="caret")
                                ul(class="dropdown-menu")
                                    li
                                        a(href='/about/') Структурные подразделения.
                                    li
                                        a(href='/about/') Места хранения.
                                    li
                                        a(href='/about/') Категории и свойства объектов.
                                    li
                                        a(href='/about/') Контроллирующие.
                        li(class="dropdown" id="menu1")
                            a(class="dropdown-toggle" data-toggle="dropdown" href="#menu2") Отчеты
                                b(class="caret")
                                ul(class="dropdown-menu")
                                    li
                                        a(href='/about/') Движение объектов учета.
                                    li
                                        a(href='/about/') По местам хранения.
                                    li
                                        a(href='/about/') По структурным подразделениям.
                                    li
                                        a(href='/about/') По категориям и свойствам.
                                    li
                                        a(href='/about/') По контролирующим.
                        li
                            a(href='/about/') О программе

        .container
            block content
            footer
                .row
                    .col-xs-12
                        small &copy; Руденко Олег

        script(src='/javascripts/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.js')
